@model AtaUte.Models.Restaurant

@{
    ViewBag.Title = "Index";
}

<h2>Reviews for @Model.Name</h2>

@Html.Partial("_Reviews", Model.Reviews)
<p>
    @Html.ActionLink("Write New Review", "Create", new { restaurantId = Model.Id})
</p>
